<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="filepath" type="VideoService.RWWebconfig, VideoService" />
    <section name="iday" type="VideoService.RWWebconfig, VideoService" />
  </configSections>
  <filepath sdnname="Video-old" sdnvalue="Video" />
  <iday sdnname="iday" sdnvalue="-3" />
  <system.web>
    <!--<globalization fileEncoding="GB2312" requestEncoding="gb2312" responseEncoding="gb2312" />-->
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <connectionStrings>
    <add name="RedisExchangeHosts" connectionString="127.0.0.1:6379,password=Star111,allowadmin=true" />
    <!--本地数据库-->
    <add name="strCoonOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.248)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=cljcjgxt;Password=cljcjgxtsz;Pooling=true;Min Pool Size=1;Max Pool Size=255;" />
    <add name="strconnOrcl" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.248)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=cljcjgxt;Password=cljcjgxtsz;Pooling=true;Min Pool Size=1;Max Pool Size=255;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>